<?xml version="1.0" encoding="utf-8"?>

<EncryptedData IsEncrypted="false">

	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<!-- EnrollmentServiceAddress is defaulted to a valid value, which may be overridden by values in an environment specific diff file -->
	<add key="EnrollmentServiceAddress" value="http://localhost/DefaultValue.svc" />

</EncryptedData>