<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configProtectedData>
		<providers>
			<add name="LowFrictionConfigProvider" type="ConfigPTFE.AdvancedConfigurationProvider, ConfigPTFE" />
		</providers>
	</configProtectedData>
  
  
	<!-- ////////////////////////////////// ConfigPTFE NOTES  ///////////////////////////////////////////
  
  The "[LOCAL]" and "[ENVIRONMENT]" tokens are reserved names 
  
  Add additional "sectionInfo" nodes as desired. Create custom tokens like "[COMMONSETTINGS]" or "[CONNECTIONSTRINGS]" 
  to map to filesystem locations (ex. "C:\projects\Configuration\CommonSettings\"  or  "C:\projects\Configuration\Connectionstrings\")
  Custom tokens may be defined in an environment.config or via the "Initialize" method's 
  
  The environment.config is located on the filesystem at:  %ProgramData%\ConfigPTFE\ApplicationEnvironment
  
  //////////////////////////////////////////////////////////////////////////////////////////////////// -->
  
	<appSettings configProtectionProvider="LowFrictionConfigProvider">
		<EncryptedData>
			<sectionInfo file="[LOCAL]\ConfigSections\AppSettings\appSettings.[ENVIRONMENT].config" />
			<!--<sectionInfo file="[COMMONSETTINGS]\appSettings.[ENVIRONMENT].config"/>-->
		</EncryptedData>
	</appSettings>

	<connectionStrings configProtectionProvider="LowFrictionConfigProvider">
		<EncryptedData>
			<sectionInfo file="[LOCAL]\ConfigSections\Connectionstrings\connectionStrings.[ENVIRONMENT].config" />
			<!--<sectionInfo file="[CONNECTIONSTRINGS]\connectionStrings.[ENVIRONMENT].config"/>-->
		</EncryptedData>
	</connectionStrings>

</configuration>