<?xml version="1.0" encoding="utf-8"?>
<EncryptedData IsEncrypted="false">
	<add name="ApplicationServices"
			 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
			 providerName="System.Data.SqlClient" />	
</EncryptedData>