<?xml version="1.0" encoding="utf-8"?>

<EncryptedData IsEncrypted="false">

	<!-- "Rivendell" is defaulted to invalid values, so we may recognize at runtime that an appropriate environment specific diff file was not merged. -->
	<add name="Rivendell" connectionString="..." providerName="..." />

</EncryptedData>