<?xml version="1.0" encoding="utf-8"?>

<EncryptedData IsEncrypted="false" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<add name="Rivendell" connectionString="Server=.; Database=RivendellRegression; Trusted_Connection=True; Connection LifeTime=300;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

</EncryptedData>